/** CSS STYLE **/
 
:root {
  --white: #fff;
  --translucent: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic_dark: #42413c;
  --dark: #2a2626;
  --translucent_dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --main-bg: url("../assets/images/background.png");
}

@font-face {
  font-family: Neucha;
  src: url(../assets/fonts/Neucha-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

html {
width: 100%;


max-width: 100%;
overflow: hidden;
}

body {
margin: 0;
font-family: OpenSans;
display: flex;
justify-content: center;
width: 100%;
height: auto;
max-width: 100%;
overflow: hidden;
}

.main-bg {
height: auto;

}

.main-bg::before{
  background-image: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}



h1 {
margin: 0;
font-size: 72px;
font-family: Neucha, sans-serif;
font-weight: 400;
}

.content {
  position: relative;
  width: 1110px;
  height: 100%;
  padding: 100px 0;
 }
 

.img-header {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
    }

    

h * {
  line-height: 1.2em;
}


h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.columns {
  display: flex;
  margin-top: 165px;
}

.color-basic {
  color: var(--basic);
}

.content p {
  width: 540px;
  font-size: 16px;
  color: var(--dark);
  text-align: left;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

.first-column {
  margin-right: 30px;
}

.link {
  margin-top: 50px;
}

a {
  padding: 12px 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic);
  border: transparent;
  margin-top: 51px;
}

