/** CSS STYLE **/

/** all **/
:root {
  --white: #fff;
  --translucent: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic_dark: #42413c;
  --dark: #2a2626;
  --translucent_dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --main-bg: url("../assets/images/background.png");
}

@font-face {
  font-family: Neucha;
  src: url(../assets/fonts/Neucha-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

h1 {
  margin: 0;
  font-size: 72px;
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 72px;
}

h2 {
  margin: 0;
  font-size: 60px;
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 72px;
  color: var(--basic);
}

h3 {
  font-size: 34px;
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 40.8px;
  color: var(--basic);
}

img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

body {
  margin: 0;
  font-family: OpenSans;
  font-size: 16px;
  background-color: var(--light);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
}

.upper-columns-right h2 {
  text-align: left;
}

.upper-columns h2 {
  text-align: left;
}

/** первая страница **/

#header {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--light);
}

#header::before {
  background-image: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

#header h1 {
  margin-bottom: 10px;
}

.main-bg {
  position: relative;
  width: 1110px;
  padding: 100px 0;
}

.img-header {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.columns {
  display: flex;
}

#header p {
  margin: 16px 0 0 0;
}

.color-basic {
  color: var(--basic);
}

.color-basic-header {
  color: var(--basic);
  line-height: 86.4px;
  display: block;
  margin-bottom: 7px;
}


.columns p {
  color: var(--dark);
  text-align: left;
  line-height: 25.6px;
}

.first-column {
  width: 50%;
  margin-top: 185px;
  margin-right: 30px;
}

.second-column {
  width: 50%;
  margin-top: 181px;
}

.btn {
  padding: 12px 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic);
  border: transparent;
  display: block;
  margin-top: 40px;
  width: 101px;
}

/** вторая страница **/

#video-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.second-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1110px;
  padding: 100px 0;
}

.second-page h2 {
  text-align: center;
  margin: ;
  padding-bottom: 27px;
}

.second-page p {
  text-align: center;
 
  margin: 0 0 30px 0;
}

.video {
  position: relative;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 2;
}

.color-black {
  color: var(--dark);
}

/**третья страница **/

#navigation {
  background-color: var(--basic_dark);
  position: relative;
  z-index: 1;
  top: -200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.third-page {
  width: 1110px;
  height: 691px;
  padding: 200px 0 100px 0;
}

.nav-link a {
  background-color: transparent;
  padding: 0;
  text-decoration: none;
  color: var(--dark);
  font-weight: 400;
}

.nav-link {
  text-decoration: none;
  color: var(--dark);
  width: 350px;
  background-color: var(--light);
}

.first-row-flex,
.second-row-flex {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.table-content {
  padding: 24px;
}

.table-content h3 {
  margin: 0;
}

.table-content p {
  margin: 16px 0 0 0;
}

.table-header {
  font-size: 52px;
  font-family: Neucha;
  font-weight: 400;
  line-height: 62.4px;
  color: #fff;
  background-color: var(--basic_dark);
  margin-right: 9px;
}

.table-figure {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: Neucha;
  line-height: 1;
}

.table-content:hover {
  background-color: var(--basic);
  color: #fff;
}

.table-content:hover h3 {
  background-color: var(--basic);
  color: #fff;
}

.nav-link a:hover {
  color: #fff;
  text-decoration: none;
}

/* икея-эффект */

#ikea-effect h2 {
  color: var(--basic_dark);
}

.upper-columns-right,
.upper-columns {
  display: flex;
  width: 1110px;
}

.upper-columns div {
  margin-left: 30px;
}

.lower-columns {
  width: 1110px;
  display: flex;
  gap: 30px;
}

.lower-columns p {
  width: 50%;
}

h4 {
  background-color: var(--brown);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 0;
  padding: 5px 0 5px 10px;
  width: 1110px;
}

.translucent_dark {
  margin: 0;
  font-size: 24px;
  font-family: Neucha;
  color: var(--translucent_dark);
}

.dark {
  font-size: 34px;
  font-family: Neucha;
  color: var(--dark);
}

#ikea-effect {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -202px;
}

#ikea-effect::before {
  background-image: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  top: 0;
  left: 0;

  position: absolute;
  width: 100%;
  height: 100%;
}

/* Преждевременная оптимизация */

#premature-optimization h2 {
  color: #fff;
}

.translucent {
  margin: 0;
  font-size: 24px;
  font-family: Neucha;
  color: var(--translucent);
}

.white {
  font-size: 34px;
  font-family: Neucha;
  color: #fff;
}

.m-30 {
  margin: 0 30px 0 0;
}

.bg-white {
  background-color: #fff;
  color: var(--brown);
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 6px 0 4px 10px;
}

.main-bg3 {
  display: flex;
  flex-direction: column;
  width: 1110px;
  padding: 100px 0;
}

#premature-optimization {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--brown);
  color: #fff;
}

#premature-optimization::before {
  background-image: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/** Искажение новизны **/
.main-bg2 h2 {
  color: var(--basic_dark);
}

#distortion-of-novelty {
  position: relative;

  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--light);

}

#distortion-of-novelty::before {
  background-image: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
 
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;

}

/**Гиперболическое обесценивание **/

#hyperbolic-depreciation {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--brown);
  color: #fff;
}

#hyperbolic-depreciation::before {
  background-image: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-bg3 h2 {
  color: #fff;
}

#hyperbolic-depreciation p {
  margin: 0;
}

/** Ошибка планирования **/

.main-bg2 {
  display: flex;
  flex-direction: column;
  width: 1110px;
  padding: 100px 0;
}

.main-bg2 {
  color: var(--basic_dark);
}

#errors-in-planning {
  position: relative;

  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--light);
}

#errors-in-planning::before {
  background-image: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/** Футер **/

footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.upper-footer {
  display: flex;
  width: 1110px;
  background-color: var(--basic_dark);
  color: #fff;
  padding-right: 55px;
}

.left-column {
  width: 50%;
  color: #fff;
  font-size: 34px;
  font-family: Neucha;
  font-weight: 400;
  padding: 55px;
}

.left-column p {
  margin: 0;
}

.right-column {
  width: 50%;
  align-self: center;
  position: relative;
}

.right-column p {
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

#email {
  height: 50px;
  padding: 0;
  width: 423px;

  border: none;
}

.f18 {
  font-size: 18px;
}

.f12 {
  font-size: 12px;
}

.link-footer {
  color: #fff;
}

.copyright {
  text-align: center;
  padding-top: 60px;
  font-size: 14px;
}

button {
  position: relative;
  height: 50px;
  width: 70px;
  background-color: var(--basic);
  top: -1px;
  left: -4px;
  border: none;
  padding: 0;
}

svg {
  vertical-align: middle;
}